.expenses-list {
    list-style: none;
    padding: 0;
  }
  
  .expenses-list__fallback {
    text-align: center;
    font-size: 24px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
    color: rgb(255, 0, 0, 0.7);
  }