.header-title{
    color: red;
    font-size: 25px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-shadow: 3px 3px 20px #fff,
    -2px 1px 30px #fff;
}
.heading{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}









@media (min-width: 260px) { 
    .heading{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
 }
@media (min-width: 576px) { 
    .heading{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
 }

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { 
    .heading{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
 }
